{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
    <h1>Créer un message</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="center">
            <button class="btn-submit bg-blue btn waves-effect waves-light center">
                Ajouter le message
                <i class="material-icons right">send</i>
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}
