{% extends 'TicketBundle:Default:layout.html.twig' %}

{% block main %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Add message</button>
    {{ form_end(form) }}
{% endblock %}
