{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.content, {'value': message.content}) }}
        {{ form_row(form.ticket, {'attr': {'disabled' : 'disabled'} } ) }}
        <button>Add message</button>
    {{ form_end(form) }}
{% endblock %}
